<div class="container mt-4">
    <h2>Product List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Chicked</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>${{ product.price }}</td>
          <td>{{ product.description }}</td>
          <td><button (click)="handleCheckProduct(product)"><i [class]="product.checked?'bi bi-check':'bi bi-circle'"></i></button> </td>
        </tr>
      </tbody>
    </table>
  </div>
  