<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-8 input-group">
        <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="Search by name...">
        <div class="input-group-append">
            <button class="btn btn-primary" (click)="searchProducts()">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</div>
    <h2>Product List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Chicked</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>${{ product.price }}</td>
          <td>{{ product.description }}</td>
          <td><button (click)="handleCheckProduct(product)"><i [class]="product.checked?'bi bi-check':'bi bi-circle'"></i></button> </td>
          <td><button (click)="handleDelete(product)" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button></td>
          <td><button (click)="handleEdit(product)" class="btn btn-outline-danger"><i class="bi bi-pencil"></i></button></td>
        
        </tr>
      </tbody>
    </table>
    <ul class="nav nav-pills">
      <li *ngFor="let page of [].constructor(this.totalPages); let i = index">
        <button (click)="handleGoToPage(i + 1)" 
          [ngClass]="currentPage === (i + 1) ? 'btn btn-success m-1' : 'btn btn-outline-success m-1'">
          {{ i + 1 }}
        </button>
      </li>
    </ul>
    
  </div>
  